<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myqqdemo">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />

    <application
        android:name="com.example.administrator.myqqdemo.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.administrator.myqqdemo.HomePageActivity"
            android:theme="@style/Theme.BackgroundTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.administrator.myqqdemo.ActivityWebViewActivity">
        </activity>
        <activity android:name="com.example.administrator.myqqdemo.FirstActivity">
        </activity>
        <activity android:name="com.example.administrator.myqqdemo.SecondActivity">
        </activity>
        <activity android:name="com.example.administrator.myqqdemo.ThirdActivity">
        </activity>
    </application>

</manifest>